.haha {
  height: 100px;
  padding: 10px;
  background: red;
}

.layout {
  padding: 20px;
}

.content {
  width: 100%;
  height: 600px;
  background: white;
}

.sider {
  overflow-y: auto;
  padding-bottom: 300px;
  float: left;
  height: 400px;
  width: 400px;
}

.menu-item {
  height: 50px;
  width: 200px;
  line-height: 50px;
  padding-left: 10px;
  background: gray;
  &-wrapper {
    position: relative;
  }
}

.submenu {
  position: absolute;
  top: 0px;
  left: 200px;
  width: 200px;
  height: 100px;
  line-height: 50px;
  padding-left: 10px;
  opacity: .6;
  background: blue
}

.innerBtn {
}

/* Visibility */
.sider-menu {
  list-style: none;
  padding: 0;
  &::before, &::after {
    content: ' ';
    display: table;
  }
  &::after {
    clear: both;
  }
  & > li > a {
    display: block;
    height: 40px;
    line-height: 40px;
    padding: 0 17px;
    background: lightsalmon;
    overflow: hidden;
    // white-space: nowrap;
    // text-overflow: ellipsis;
    &:hover {
      background: salmon;
    }
    & .menuArrow {
      float: right;
    }
    &::before, &::after {
      content: ' ';
      display: table;
    }
    &::after {
      clear: both;
    }
  }
}

